html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #D5D5D5;
  color: #062F4F;
}

.app {
  width: 400px;
  margin: 50px auto;
}

h1, h2 {
  color: #062F4F;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

.user-text {
  width: 330px;
  height: 25px;
  margin-left: 20px;
  font-size: 1.2em;
}

input[type=submit] {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: #4ABDAC;
    color: #FFF;
    font-size: 1.2em;
    border: 0;
    border-radius: 3px;
}

input[type=submit]:hover {
  box-shadow: 0px 0px 2px #000;
}

button {
  background-color: #FF3B3F;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}

button:hover {
  box-shadow: 0px 0px 2px #000;
}

footer {
    position: absolute;
    text-align: center;
    font-size: .8em;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
